@import "tailwindcss";

body {
  background: #1c1b21;
  color: #fff;
  font-family: var(--font-playfairDisplay);
}

@layer utilities{
  .font-playfairDisplay{
    font-family: var(--font-playfairDisplay), serif;
  }
  .font-philosopher{
    font-family: var(--font-philosopher), serif;
  }
}